:root{
  /* Neutral */
--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);
/* Primary */
--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);
}

.txt_gb{
  color: var(--Grayish-blue);
}

.txt_dgb{
  color: var(--Dark-grayish-blue);
}

.attribution { 
  display: none;;
  font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

*{
   margin: 0;
  padding: 0;  
} 

body{
  height: 100vh;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background:hsla(35, 77%, 62%, 0.045) ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  height: 85vh;
  width: 70vw;
  display: grid;
  grid-template-areas: 
            'header  header  header'
            'main_img  main_img  aside'
            'main_txt  main_art  aside'
            'retro  laptop  game';
  grid-template-columns: repeat(3, 1fr);         
  grid-template-rows: .5fr 3fr 2fr 1.5fr; 
   column-gap: 1rem;
   row-gap: 1rem;
}

 /* header,
.main_art,
.main_img,
.main_txt,
.aside,
.retro,
.laptop,
.game{
  border: .1rem solid #333;
}   */

p{
  line-height: 1.5rem;
}

 h2{
  padding: .5rem 0;
}

header{
  grid-area: header;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul{
  display: flex;
}

header nav ul li{
  list-style: none;
  margin-right: 1rem;
  cursor: pointer;
}

header nav ul li a{
  color: var(--Dark-grayish-blue);
  text-decoration: none;
  transition: all .3s ease;
}

header nav ul li a:hover{
  color: var(--Soft-orange);
}

.menu_bar{
  display: none;
}

.main_img{
  grid-area: main_img;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/image-web-3-desktop.jpg) no-repeat center/cover;
}

/* .main_img img{
  max-width: 100%;
  max-width: 100%;
  object-fit: contain;
} */

.aside{
  color: var(--Off-white);
  grid-area: aside;
  padding: 0 1rem;
  background: var(--Very-dark-blue);
}

aside h2{
  color: var(--Soft-orange);
}

.aside > ul > li{
  list-style: none;
  margin: 1.5rem 0rem;
}

.aside > ul > li >h3{
  margin-bottom:.5rem ;
}

.aside > ul > li >h3 > a{
  text-decoration: none;
  color: var(--Off-white);
}

.aside > ul > li >h3 > a:hover{
  color: var(--Soft-orange);
}

.aside > ul > li:first-child,
.aside > ul > li:nth-child(2){
  padding-bottom: 1rem;
  border-bottom: .1rem solid  var(--Off-white);
}


.main_txt{
  grid-area: main_txt;
  padding-right: 10rem;
  font-weight: 800;
}

.main_art {
  grid-area: main_art;
}

.main_art p {
  color: var(--Dark-grayish-blue);
}

.btn {
  margin-top: 1rem;
  padding: .5rem 1rem ;
  color: var(--Off-white);
  background: var(--Soft-red);
  border: 0;
  letter-spacing: .2rem;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

.btn:hover {
  background: var(--Very-dark-blue);
}

.art_img{
  margin-right: 1rem;
}

article{
  height: 7rem;
  display: flex;
  justify-content: space-between;
  transition: all .3s ease;
}

article p{
  color: var(--Dark-grayish-blue);
}

article > div > h2{
  color: var(--Grayish-blue);
}

article > div > h3{
  color: var(--Very-dark-blue);
  font-weight: 800;
  cursor: pointer;
}

article > div > h3:hover{
  color: var(--Soft-red);
}

.retro{
  grid-area: retro;
}

.laptop{
  grid-area: laptop;
}

.game{
  grid-area: game;
}


@media only screen and (max-width: 480px) {
  body{
    min-height: 100vh;
    padding-top: 1rem;
  } 
  .container{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-areas: 
              'header'
              'main_img'
              'main_txt'
              ' main_art'
              'aside'
              'retro' 
              'laptop' 
              'game';
    grid-template-columns: 1fr;
    row-gap: 1rem;
    
  }

  header > nav{
    display: none;
  }

  .menu_bar{
    display: block;
    margin-right: .2rem;
  }

  .main_img{
    grid-area: main_img;
    height: 20rem;
    background: url(../assets/images/image-web-3-mobile.jpg) no-repeat center/cover;
  }

  .main_txt{
    grid-area: main_txt;
    padding-right: 8rem;
    font-weight: 800;
  }

  article {
    display: flex;
  }

  .art_img{ 
    margin-right: 1rem;
  }


}
